html {
  --color-card-background: rgb(246, 250, 255);
  --color-boxshadow: rgb(0, 0, 0, 0.2);

  --color-titles: rgb(43, 43, 43);
  --color-label: rgb(66, 76, 97);

  --color-input-focus-bg: rgb(217, 227, 247);
  --color-input-border: rgb(152, 159, 184);

  --color-buttons: var(--color-card-background);
  --color-buttons-border: rgb(51, 67, 100);
  --color-buttons-hover: rgb(203, 218, 223);
  --color-buttons-submit: var(--color-buttons-border);
  --color-buttons-submit-hover: rgb(111, 131, 167);
}

body {
  background-color: rgb(236, 252, 253);
  margin: 2rem 8rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: var(--color-titles);
  text-align: center;
  margin: 2rem;
}

h2 {
  color: var(--color-titles);
}

form {
  width: 40rem;
  margin: 3rem auto;
  background-color: var(--color-card-background);
  box-shadow: 0px 2px 8px var(--color-boxshadow);
  padding: 1rem;
  border-radius: 6px;
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  margin: 0.5rem 0;
  color: var(--color-label);
}

input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid var(--color-input-border);
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  color: rgb(61, 58, 58);
}

input:focus,
textarea:focus {
  background-color: var(--color-input-focus-bg);
}

textarea {
  resize: none;
  height: 100%;
}

.form-control-wrapper {
  display: flex;
  margin-bottom: 0.5rem;
}

.form-control-wrapper input {
  width: auto;
  margin: 0;
  margin-right: 0.5rem;
  height: auto;
}

.form-control-wrapper label {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

button {
  font: inherit;
  border: 1px solid var(--color-buttons-border);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-buttons);
  color: black;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

button:hover {
  background-color: var(--color-buttons-hover);
}

button[type="submit"] {
  background-color: var(--color-buttons-submit);
  color: white;
}
button[type="submit"]:hover {
  background-color: var(--color-buttons-submit-hover);
}
